  <nav class="white lighten-4" style="border-bottom: 2px dotted white; box-shadow: none">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left flow-text purple-text text-darken-4"  style="font-family: 'Faster One'">simi</a>
        <ul id="nav-mobile" class="right">
          {{!-- <li><a href="#devsection">D</a></li> --}}
          <li><a href="/about" class="white-text text-darken-4 btn deep-purple ">About</a></li>
          <li class="flow-text"><a class="white-text text-darken-4 btn deep-purple" href="/admin">Admin Login</a></li>
          {{!-- <li><a href="#!">Sign Up</a></li> --}}
        </ul>
      </div>
    </div>
  </nav>
