<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Mandate | Estate</title>
  <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Chicle|Faster+One|Share+Tech" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/ionicons.css">
  <link rel="stylesheet" href="css/animate.css">
  <meta name="viewport" content="width = device-width, initial-scale = 1.0">
</head>
<body class="">

   {{{body}}}
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
