<div class="deep-purple row" style="height: 100vh">
	<div class="col s12" style="padding-top: 6rem">
	<div class="card-panel col s4 offset-s4">
		<span class="flow-text center grey-text text-darken-3">Admin Login</span>
		{{!-- <div class="divider"></div> --}}
		<form action="/adminlogin" style="padding-bottom: 1.5rem" method="post">
			<div class="input-field">
				<input type="text" name="usern">
				<label for="" class="">Admin Username</label>
			</div>
			{{!-- <br> --}}
			<div class="input-field">
				<input type="password" name="passw">
				<label for="">Password</label>
			</div>
			<br>
			{{#if err}}
				<p class="red-text">{{err}}</p>
			{{/if}}
			<input type="submit" class="btn deep-purple" value="login">
		</form>
	</div>
	</div>
</div>
