<div class="navbar-fixed">
	{{> _navbar}}
</div>
<section class="row deep-purple darken-4" style="padding-bottom: 2rem; padding-top: 1rem">
	<section style="padding: 1rem">
	<div class="flow-text white-text center">
		Welcome {{data.occupant_name}}

		<a href="/pdf/map.pdf" class="right animated pulse infinite x2" target="_blank" title="download map pdf"><i class="ion-ios-download white-text"></i></a>
	</div>
	<div class="card-panel hoverable white-text transparent">
		Type of occupancy: {{data.occupancy}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Gender: {{data.gender}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Age range: {{data.age}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Marital Status: {{data.marital_status}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Employment Status: {{data.employment_status}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Highest Education Level: {{data.education}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Professional Qualification: {{data.qualification}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Work experience: {{data.work_experience}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		<span class="col s3">Plot Number: {{data.plot_no}}</span>
		<span class="col s3">Plan Number: {{data.plan_no}}</span>
		<span class="col s3">ID Number: {{data.id_no}}</span>
		<span class="col s3">Ref Number: {{data.ref_no}}</span>
	</div>
	<div class="card-panel hoverable white-text transparent">
		Use of Land: {{data.land_use}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Development on Land: {{data.land_dev}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Development Type: {{data.land_type}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Monthly Rent Payable: {{data.monthly_rent}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Yearly Rent Payable: {{data.yearly_rent}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		Work experience: {{data.work_experience}}
	</div>
	<div class="card-panel hoverable white-text transparent">
		<div class="col s4">Survey Plan: {{data.survey_plan}}</div>
		<div class="col s4">Certificate of occupancy: {{data.survey_plan}}</div>
		<div class="col s4">Deed of Registration: {{data.doreg}}</div>
	</div>


	<div class="center">
		<a class="btn btn-large waves-effect waves-light" style="font-weight: bold" href="/options">Click to proceed</a>
	</div>

	<br>
	<div class="center deep-purple darken-4" style="">
		<p class="white-text">&copy; copyright 2018 all rights reserved</p>
	</div>

</section>
</section>
