<section class="row deep-purple" style="padding: 1rem 2rem">
		<h3 class="flow-text white-text"><a href="/" class="btn black">Home</a>
			 <span class="btn">Tenant adding form</span>
			 <a href="/options" class="right btn black modal-trigger">View user infos</a>
		 </h3>
		{{#if msg}}
			<p class="red-text card-panel">{{msg}}</p>
		{{/if}}
	<div class="col s12 card z-depth-4">

		<form action="/uploadForm" method="POST" class="" style="padding: 1rem">
		<div class="center" style="font-weight: bold; font-family: monospace">Land Ownership Information</div>
			<div class="input-field col s10">
				<label for="">1. Name of occupant/owner</label>
				<input type="text" name="occupant_name">
			</div>
			<div class="input-field col s2">
				<label for="">Password</label>
				<input type="password" name="user_pass">
			</div>
			{{!-- <div class="divider"></div> --}}
			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>2. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">2. Type of occupancy</span>
			      <label class="col s3">
			        <input name="occupancy" type="radio" value="Tenants"  />
			        <span>Tenants</span>
			      </label>

			      <label class="col s3">
			        <input name="occupancy" type="radio" value="Owners" />
			        <span>Owners</span>
			      </label>

			      <label class="col s3">
			        <input  name="occupancy" type="radio" value="Occupancy" />
			        <span>Lease</span>
			      </label>
			</div>
			{{!-- <div class="divider"></div> --}}
			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>3. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">3. Gender</span>
			      <label class="col s3">
			        <input name="gender" type="radio"  value="Male" />
			        <span>Male</span>
			      </label>

			      <label class="col s3">
			        <input name="gender" type="radio" value="Female" />
			        <span>Female</span>
			      </label>
			</div>
			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>4. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">4. Age</span>
			      <label class="col s3">
			        <input name="age" type="radio" value="less_than_20" />
			        <span>Less than 20</span>
			      </label>

			      <label class="col s3">
			        <input name="age" type="radio" value="21_30"/>
			        <span>21 - 30</span>
			      </label>

			      <label class="col s3">
			        <input  name="age" type="radio" value="31_40" />
			        <span>31 - 40</span>
			      </label>
			      <label class="col s3">
			        <input  name="age" type="radio" value="41_50" />
			        <span>41 - 50</span>
			      </label>
			      <label class="col s3">
			        <input  name="age" type="radio" value="51_60" />
			        <span>51 - 60</span>
			      </label>
			      <label class="col s3">
			        <input  name="age" type="radio" value="above_60" />
			        <span>Above 61</span>
			      </label>
			</div>
			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>5. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">5. Marital Status</span>
			      <label class="col s3">
			        <input name="marital_status" type="radio" value="Single" />
			        <span>Single</span>
			      </label>

			      <label class="col s3">
			        <input name="marital_status" type="radio" value="Married"/>
			        <span>Married</span>
			      </label>

			      <label class="col s3">
			        <input name="marital_status" type="radio" value="Divorced" />
			        <span>Divorced</span>
			      </label>

			      <label class="col s3">
			        <input name="marital_status" type="radio" value="Seperated"/>
			        <span>Seperated</span>
			      </label>

			      <label class="col s3">
			        <input name="marital_status" type="radio" value="Widowed"/>
			        <span>Widowed</span>
			      </label>
			</div>

			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>5. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">6. Employment Status</span>
			      <label class="col s3">
			        <input name="employment_status" type="radio" value="self employed" />
			        <span>Self Employed / Business person</span>
			      </label>

			      <label class="col s3">
			        <input name="employment_status" type="radio" value="employed"/>
			        <span>Employed</span>
			      </label>

			      <label class="col s3">
			        <input name="employment_status" type="radio" value="Federal employed" />
			        <span>Federal Employed</span>
			      </label>

			      <label class="col s3">
			        <input name="employment_status" type="radio" value="Student"/>
			        <span>Student</span>
			      </label>
			</div>

			{{!-- <div class="divider"></div> --}}
			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>5. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">7. Highest level of Education completed</span>
			      <label class="col s3">
			        <input name="education" type="radio" value="SSCE" />
			        <span>SSCE</span>
			      </label>

			      <label class="col s3">
			        <input name="education" type="radio" value="NCE"/>
			        <span>NCE</span>
			      </label>

			      <label class="col s3">
			        <input name="education" type="radio" value="ND/HND" />
			        <span>ND/HND</span>
			      </label>

			      <label class="col s3">
			        <input name="education" type="radio" value="Bachelors"/>
			        <span>First Degree Education Honours </span>
			      </label>

			      <label class="col s3">
			        <input name="education" type="radio" value="Masters"/>
			        <span>Master's Degree Education Honours </span>
			      </label>

			      <label class="col s3">
			        <input name="education" type="radio" value="Ph.D"/>
			        <span>Ph.D Based Education Honours </span>
			      </label>
			</div>
			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>5. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">8. Professional qualification</span>
			      <label class="col s3">
			        <input name="qualification" type="radio" value="MBA" />
			        <span>MBA</span>
			      </label>

			      <label class="col s3">
			        <input name="qualification" type="radio" value="ICAN"/>
			        <span>ICAN</span>
			      </label>

			      <label class="col s3">
			        <input name="qualification" type="radio" value="others" />
			        <span>others</span>
			      </label>
			</div>
			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>5. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">9. Working Experience</span>
			      <label class="col s3">
			        <input name="work_experience" type="radio" value="1 - 5 yrs" />
			        <span>1 - 5 years</span>
			      </label>

			      <label class="col s3">
			        <input name="work_experience" type="radio" value="6 - 10 yrs"/>
			        <span>6 - 10 years</span>
			      </label>

			      <label class="col s3">
			        <input name="work_experience" type="radio" value="11 - 15 yrs" />
			        <span>11 - 15 years</span>
			      </label>

			      <label class="col s3">
			        <input name="work_experience" type="radio" value="16 - 20 yrs"/>
			        <span>16 - 20 years </span>
			      </label>

			      <label class="col s3">
			        <input name="work_experience" type="radio" value="21 - 25 yrs"/>
			        <span>21 - 25 years </span>
			      </label>

			      <label class="col s3">
			        <input name="work_experience" type="radio" value="26 -30 yrs"/>
			        <span>26 - 30 years</span>
			      </label>

						<label class="col s3 offset-s3">
			        <input name="work_experience" type="radio" value="31 and above"/>
			        <span>31 and above</span>
			      </label>
			</div>
			{{!-- <br><br> --}}
			<p class="divider col s12"></p>
			{{!-- <br><br> --}}
			{{!-- <div class="divider col s12"></div> --}}
			<div class="center col s12" style="font-weight: bold; font-family: monospace">Land Ownership Information</div>
			<div class="input-field col s6">
				<input type="number" name="plot_no">
				<label for="">Plot No:</label>
			</div>
			<div class="input-field col s6">
				<input type="number" name="plan_no">
				<label for="">Plan No:</label>
			</div>
			<div class="input-field col s6">
				<input type="number" name="id_no">
				<label for="">Identification Number</label>
			</div>
			<div class="input-field col s6">
				<input type="number" name="ref_no">
				<label for="">File Reference Number</label>:</label>
			</div>

			<p class="divider col s12"></p>
			{{!-- <br><br> --}}
			{{!-- <div class="divider col s12"></div> --}}
			<div class="center col s12" style="font-weight: bold; font-family: monospace">Land Use</div>
			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>5. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">Purpose of land</span>
			      <label class="col s3">
			        <input name="land_use" type="radio" value="Residential" />
			        <span>Residential</span>
			      </label>

			      <label class="col s3">
			        <input name="land_use" type="radio" value="Commercial"/>
			        <span>Commercial</span>
			      </label>

			      <label class="col s3">
			        <input name="land_use" type="radio" value="Academic / Institutional" />
			        <span>Academic / Institutional</span>
			      </label>

						<label class="col s3">
			        <input name="land_use" type="radio" value="Religious" />
			        <span>Religious</span>
			      </label>
			</div>

			<p class="divider col s12"></p>
			{{!-- <br><br> --}}
			{{!-- <div class="divider col s12"></div> --}}
			<div class="center col s12" style="font-weight: bold; font-family: monospace">Development on Land</div>
			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>5. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">Is plot yet to be developed?</span>
			      <label class="col s3">
			        <input name="land_dev" type="radio" value="Yes" />
			        <span>Yes</span>
			      </label>

			      <label class="col s3">
			        <input name="land_dev" type="radio" value="No"/>
			        <span>No</span>
			      </label>
			</div>

			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>5. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">Type of development?</span>
			      <label class="col s3">
			        <input name="land_type" type="radio" value="Permanent Structure" />
			        <span>Permanent Structure</span>
			      </label>

			      <label class="col s3">
			        <input name="land_type" type="radio" value="Temporary Structure"/>
			        <span>Temporary Structure</span>
			      </label>
			</div>

			<p class="divider col s12"></p>
			{{!-- <br><br> --}}
			{{!-- <div class="divider col s12"></div> --}}
			<div class="center col s12" style="font-weight: bold; font-family: monospace">Payment by property owners</div>
			<br>
			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>5. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">monthly rent payable</span>
			      <label class="col s3">
			        <input name="monthly_rent" type="radio" value="#1,000 - #10,000" />
			        <span>#1,000 - 10,000</span>
			      </label>

			      <label class="col s3">
			        <input name="monthly_rent" type="radio" value="#10,000 - #20,000" />
			        <span>#10,000 - 20,000</span>
			      </label>

						<label class="col s3">
			        <input name="monthly_rent" type="radio" value="#20,000 - #50,000" />
			        <span>#20,000 - 50,000</span>
			      </label>

						<label class="col s3">
			        <input name="monthly_rent" type="radio" value="#50,000 above" />
			        <span>#50,000 above</span>
			      </label>
			</div>

			<div style="margin-bottom: 1rem" class="col s12">
				{{!-- <span>5. </span> --}}
			 	<span class="flow-text grey-text text-darken-1 col s3" style="font-size: 1.2rem">Yearly rent payable</span>
			      <label class="col s3">
			        <input name="yearly_rent" type="radio" value="#5,000 - #30,000" />
			        <span>#5,000 - #30,000</span>
			      </label>

			      <label class="col s3">
			        <input name="yearly_rent" type="radio" value="#30,000 - #60,000" />
			        <span>#30,000 - #60,000</span>
			      </label>

						<label class="col s3">
			        <input name="yearly_rent" type="radio" value="#60,000 - #100,000" />
			        <span>#60,000 - #100,000</span>
			      </label>

						<label class="col s3">
			        <input name="yearly_rent" type="radio" value="#100,000 above" />
			        <span>#100,000 above</span>
			      </label>
			</div>

			<p class="divider col s12"></p>

			<div class="center col s12" style="font-weight: bold; font-family: monospace">Instruments or titles over prperty</div>
			<br>
			<div style="margin-bottom: 1rem" class="col s12">

			 	<span class="flow-text grey-text text-darken-1 col s4" style="font-size: 1.2rem">Survey plan ?</span>
			      <label class="col s3">
			        <input name="survey_plan" type="radio" value="Yes" />
			        <span>Yes</span>
			      </label>

			      <label class="col s3">
			        <input name="survey_plan" type="radio" value="No" />
			        <span>No</span>
			      </label>
			</div>

			<div style="margin-bottom: 1rem" class="col s12">

			 	<span class="flow-text grey-text text-darken-1 col s4" style="font-size: 1.2rem">Parcel Instrument Document/ C of O ?</span>
			      <label class="col s3">
			        <input name="cofo" type="radio" value="Yes" />
			        <span>Yes</span>
			      </label>

			      <label class="col s3">
			        <input name="cofo" type="radio" value="No" />
			        <span>No</span>
			      </label>
			</div>

			<div style="margin-bottom: 1rem" class="col s12">

			 	<span class="flow-text grey-text text-darken-1 col s4" style="font-size: 1.2rem">Deed of registration ?</span>
			      <label class="col s3">
			        <input name="doreg" type="radio" value="Yes" />
			        <span>Yes</span>
			      </label>

			      <label class="col s3">
			        <input name="doreg" type="radio" value="No" />
			        <span>No</span>
			      </label>
			</div>
			<div class="divider">	</div>
			<br><br>
			<input type="submit" value="upload" class="btn deep-purple">
		</form>
	</div>

</section>
