 <section class="deep-purple darken-4" style="height: 100vh;">
    {{> _navbar}}
    <div class="center row">
      <h4 class="white-text text-darken-3" style="font-family: 'Share Tech'; font-weight: 100">Welcome to the online repository system for Mandate estate, Ilorin, Kwara State</h4>
      <div style="padding-top: 2rem">
        <div class="card col s4 offset-s4 z-depth-2">
          <div class="card-content">
            <span class="card-title grey-text text-darken-3 flow" style="font-family: 'Share Tech', sans-serif">Login <i class="ion-log-in"></i></span>
            <div class="">
              <form action="/login" method="POST"  class="" style="font-family: 'Share Tech'">
                <div class="input-field">
                  <input type="text" name="user_name" onclick="$('#note').hide()">
                  <label for="">Username</label>
                </div>
                <div class="input-field">
                  <input type="password" name="password_1">
                  <label for="">Password</label>
                </div>
                {{#if msg}}
                  <p class="red-text card-panel transparent" id="note">{{msg}}</p>
                {{/if}}
                <input type="submit" class="btn">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> _footer}}
 </section>
