{{> _navbar}}
<section class="deep-purple row" style="padding: 1rem; height: 100vh">
{{#if data}}
   <table class="highlight striped card">
        <thead>
          <tr>
               <th>Plot no:</th>
               <th>Development on land</th>
               <th>Development Type</th>
          </tr>
        </thead>
        <tbody>
   {{#each data}}
      <tr>
         <td>{{plot_no}}</td>
         <td>{{land_dev}}</td>
         <td>{{land_type}}</td>
      </tr>
   {{/each}}
      </tbody>
   </table>

{{else}}
   <h1>Hello world</h1>
{{/if}}

{{> _options}}

</section>
