<section class="row deep-purple darken-4" style="position: relative; padding-bottom: 2rem; height: 100vh">
	<div class="navbar-fixed">
		{{> _navbar}}
	</div>
	<div class="container">
		<h2 class="flow-text white-text" style="font-family: 'Share Tech">Click any of the links below to view specific information about that paricular field</h2>
		<br><br>
		<h5 class="flow-text grey-text" style="font-family: 'Share Tech'">View information based on:</h5>

		<br>
	</div>


	<div class="col s8 offset-m1 offset-l2">
		<div class="col s6" style="padding: .5rem"><a href="/landOwnership" class="flow-text white-text btn-large" style="font-size: 1.2rem">Land Ownership Information</a></div>
		<div class="col s6" style="padding: .5rem"><a href="/propertyID" class="flow-text white-text btn-large" style="font-size: 1.2rem">Property Identification</a></div>
		<div class="col s6" style="padding: .5rem"><a href="/landUse" class="flow-text white-text btn-large" style="font-size: 1.2rem"> Land Use</a></div>
		<div class="col s6" style="padding: .5rem"><a href="/paymentRange" class="flow-text white-text btn-large" style="font-size: 1.2rem">Payment Range</a></div>
		<div class="col s6" style="padding: .5rem"><a href="/title" class="flow-text white-text btn-large" style="font-size: 1.2rem">Titles Over Property</a></div>
		<div class="col s6" style="padding: .5rem"><a href="/landDev" class="flow-text white-text btn-large" style="font-size: 1.2rem">Development on Land</a></div>
	</div>
	<br><br>
	<div class="center col s12" style="position: absolute; bottom: 1rem">
		<p class="white-text" style="font-family: 'Share Tech'">simisola &copy; copyright 2018 all rights reserved</p>
	</div>
</section>
