{{> _navbar}}
<section class="deep-purple row" style="padding: 1rem; height: 100vh">
{{#if data}}
   <table class="highlight card">
        <thead>
          <tr>
               <th>Plot no:</th>
               <th>Name</th>
               <th>Occupancy</th>
               <th>Gender</th>
               <th>Age</th>
               <th>Marital Status</th>
               <th>Employment Status</th>
               <th>Highest Education</th>
               <th>Professional qualification</th>
               <th>Work experience</th>
          </tr>
        </thead>
        <tbody>
   {{#each data}}
      <tr>
         <td>1</td>
         <td>{{occupant_name}}</td>
         <td>{{occupancy}}</td>
         <td>{{gender}}</td>
         <td>{{age}}</td>
         <td>{{marital_status}}</td>
         <td>{{employment_status}}</td>
         <td>{{education}}</td>
         <td>{{qualification}}</td>
         <td>{{work_experience}}</td>
      </tr>
   {{/each}}
      </tbody>
   </table>


{{else}}
   <h1>Hello world</h1>
{{/if}}

{{> _options}}

</section>
