* {
    box-sizing: border-box;
}

body{
    padding: 0;
    background-color: ghostwhite;
    /*max-width: 100vw;*/
}

.x1{
    font-size: 1rem;;
}

.x12{
    font-size: 1.2rem;
    /*color: rgba(230,230,230,1) !imp
ortant;*/
}

.x15{
    font-size: 1.5rem;
}

.x2{
    font-size: 2rem;
}

.x25{
    font-size: 2.5rem;
}

.x3{
    font-size: 3rem;
}


/*navbar styles*/

.bgnav{
    z-index: 9999;
    box-shadow: none;
    /*border: 4px solid purple;*/
}

nav .container{
    width: 95%;
    margin-top: 0;
}

.bgnav #nav-mobile li>a{
    color: rgba(200, 200, 200, 0.9);
    font-size: 1.1rem;
    font-family: 'Share Tech';
    /*color: #6a1b9a;*/
}

.bgnav #nav-mobile li:hover a{
    border-bottom: 2px solid purple;
}

.nav-background{
    background-color: rgba(0,0,0,0.45);
}

.bgnav .brand-logo :hover{
    color: purple
}

.bgnav::before{
    content: '';
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    background-image: url('../images/item-background-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: rgba(0,120,147,0.7);*/
}


/*main section*/

main{
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 4.5rem;
    padding: 2rem;
    background-color: rgba(0,0,0,0.7);
    height: 90vh;
}

.first{
    min-height: 70vh;
}

.cp1{
  box-shadow: none !important;
}
/*banner text*/

#banner-text{
    font-size: 2.2rem;
    color: white;
    font-weight: 400;
    text-shadow: .5rem .5rem 1rem black;
    font-family: 'Share Tech', sans-serif;
}

#sub-banner-text{
    color: #6a1b9a;
}


/*Login section*/

#login_section{
    margin-top: 1rem;
}

#login_section form{
    padding: 1rem 2rem;
}


#navbar-dash li a{
    color: white;
    font-weight: 400;
    font-size: 1rem;
}


#navbar-dash li: hover a{
    font-weight: 800;
}
